
.idea/libraries/jacocoant.xml
.idea/libraries/junit_4_13_2.xml
.idea/libraries/junit_platform.xml
.idea/libraries/jupiter.xml
.idea/modules.xml
.idea/TP_note_MEDEV_lacoustille_poulet.iml
.idea/vcs.xml
/.idea
/build
